"*":
  "atom-beautify":
    general:
      _analyticsUserId: "04c5b61b-1f06-49e1-bc0e-0403b3c7288f"
  core:
    disabledPackages: [
      "language-clojure"
      "language-gfm"
      "language-go"
      "language-csharp"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-toml"
      "language-xml"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".codekit-cache"
      "*.svg"
      "*.ttf"
      "*.eot"
      "*.woff"
      "*.woff2"
      "*.png"
      ".tags"
      ".tags1"
      ".swp"
      "Snap.svg"
      "bower_components"
      "node_modules"
      "components"
      "vendor"
      "public"
    ]
    packagesWithKeymapsDisabled: [
      "sort-lines"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "atom-dark-syntax"
    ]
  editor:
    scrollPastEnd: true
  "exception-reporting":
    userId: "b0fbf597-afd2-422c-9acf-071b11fe0475"
  goto:
    moreIgnoredNames: "bower_components, node_modules, components, vendor, zzzz, migration-from-fork, dist, builds, webpack, uploads, public, redis, report, test-main, migration_data, admin, lib, test, *.json"
  "goto-definition":
    disableScopeNames: [
      "test-*.js"
    ]
    performanceMode: true
  "linter-ui-default":
    panelHeight: 89
  "local-history": {}
  narrow:
    Search:
      searcher: "rg"
    notifiedVimModePlusSpecificDefaultKeymap: true
  "seti-ui":
    compactView: true
  "tab-foldername-index": {}
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
